.container-box {
    display: flex;
	flex-wrap: wrap;
	margin: 2em 10em 4em 7.6em;
}

.aligned-list {
	font-family: 'Roboto Condensed', Arial, 'Trebuchet MS', Verdana;	
	display: inline-box;
	flex-wrap: wrap;
    border-radius: 8px;
}

.left-box {
    padding: 15px; 
	width: 400px;
	height: 370px;
    overflow: auto;
    background: #222;
	margin-right: 2em;
}

.right-box {
	margin-left: 1em;
	margin-top: 1em;
}

.last-box {
	margin-top: 1em;
	margin-left: -4em;
}

.aligned-list a {
	display: inline-block;
	margin-bottom: 23px;
	margin-left: 8px;
	width: calc(20% - 4px);
	margin-right: 8px;
	text-decoration: none;
	color: black;
	text-align: center;
}

.aligned-list a:nth-of-type(2n) {
	margin-right: 0;
}

@media screen and (min-width: 50em) {
  .aligned-list a {
    width: calc(10% - 6px);
  }
  
  .aligned-list a:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  .aligned-list a:nth-of-type(4n) {
    margin-right: 0;
  }
}

.round-corners {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.icon42x42 {
    width: 42px;
    height: 42px;
}

.icon120x120 {
    width: 120px;
    height: 120px;
}

.text42 {
    width: 42px;
    height: auto;
}

.border-5 {
    border: 1px solid #888;
}

.border-5:hover {
    border-color: #47a513;
}

.border-list-champ {
	margin-right: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #47a513;
}

.border-list-itm {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #393935;
}
	
.aligned-list figure {
  margin: 0;
  overflow: hidden;
}

.aligned-list figcaption {
  margin-top: 15px;
}

.aligned-list img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

.aligned-list .p a {
	display: inline;
	margin: 0;
	text-decoration: underline;
	color: blue;
}

.champName {
	font-size: 20px;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 15px;
	color: #888;
}

.lolDragBuild h2 {
	font-family: 'Roboto Condensed', Arial, 'Trebuchet MS', Verdana;
    font-size: 23px;
    font-weight: bold;
    color: #cbcbcb;
    height: 35px;
    line-height: 35px;
    margin-top:4em;
    margin-left:5em;
}

.lolDragBuild h3 {
	font-family: 'Roboto Condensed', Arial, 'Trebuchet MS', Verdana;
    font-size: 18px;
    font-weight: bold;
    color: #47a513;
    margin-left:10px;
}

.lolDragBuild h4 {
	font-family: 'Roboto Condensed', Arial, 'Trebuchet MS', Verdana;
    font-size: 20px;
    font-weight: bold;
    color: #eee;
    margin-top:2em;
    margin-left:115px;
}

.lolDragBuild h5 {
	font-family: 'Roboto Condensed', Arial, 'Trebuchet MS', Verdana;
    margin-top:2em;
    margin-left:115px;
	color: #eee;
	font-weight: 700;
	text-transform: uppercase;
}

.lolDragBuild h6 {
	font-family: 'Roboto Condensed', Arial, 'Trebuchet MS', Verdana;
    font-size: 14px;
    margin-top:1em;
	color: #47a513;
	font-weight: 700;
	text-transform: uppercase;
}

.textBox h6 {
	font-family: 'Roboto Condensed', Arial, 'Trebuchet MS', Verdana;
	font-size:15px;
	color: #eee;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 13px;
	margin-right: 30px;
}

.textBox {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 95px;
}

.container-list {
	margin-bottom: 70px;
}

figure {
	background: #0d0d0d;
}

body.md-default-theme, body, html.md-default-theme, html {
    background-color: #2c3338 !important;
}

.dropdown-menu {
    max-height: 200px !important;
    overflow: hidden !important;	
}

.champion_select {
	margin-left: 8px;
	margin-top: -30px;
}

.name_build {
	display:flex;
	margin-left: 8px;
	margin-top: 2px;
}

.alert {
	margin-left: 110px !important;
	margin-right: 110px !important;
}

.champion_select input[type='text'], .name_build input[type='text'] {
	background-color: rgb(30, 32, 33) !important;
	padding-left:15px;
	min-height: 35px !important;
	min-width: 180px !important;
	border-style: hidden;
	border-radius: 2;
	color: #eee;
	font-weight: 700;
	text-transform: uppercase;
}

.champion_select input[type='submit'], .champion_search input[type='submit'] {
	background-color: rgb(5, 142, 1) !important;
	padding-left:15px;
	min-height: 35px !important;
	min-width: 180px !important;
	border-style: hidden;
	border-radius: 2;
	color: #eee;
	font-weight: 700;
	text-transform: uppercase;
}

.champion_select input[type='button'] {
	background-color: #434343 !important;
	padding-left:15px;
	min-height: 35px !important;
	min-width: 180px !important;
	border-style: hidden;
	border-radius: 2;
	color: #eee;
	font-weight: 700;
	text-transform: uppercase;
}

.champion_select input[type='submit']:hover, .champion_search input[type='submit']:hover {
	background-color: rgb(47, 200, 42) !important;
}

.champion_search input[type='text'] {
	background-color: rgb(30, 32, 33) !important;
	padding-left:15px;
	min-height: 35px !important;
	min-width: 580px !important;
	border-style: hidden;
	border-radius: 2;
	color: #eee;
	font-weight: 700;
	text-transform: uppercase;
}

[uib-typeahead-popup].dropdown-menu {
	background-color: #1e2021 !important;
	min-width: 180px !important;
}

.dropdown-menu span {
	color: #fff !important;
}

#loading-bar-spinner {
    margin-top: 71px !important;
}

#loading-bar-spinner .spinner-icon {
    border-top-color: #47a513 !important;
    border-left-color: #47a513 !important;
}

#loading-bar .bar {
    background: #47a513 !important;
    margin-top: 71px !important;
}


.searchBoxDiv {
	margin-left: 100px;
	display: flex;
}

.searchBoxDiv input[type='submit'] {
	margin-left: 15px;
}

.list-items {
	margin-left: 8px;
}

.build-list {
	font-family: 'Roboto Condensed', Arial, 'Trebuchet MS', Verdana;	
	display: flex;
    border-radius: 8px;
    padding: 7px; 
	width: 900px;
	height: 60px;
    background: #222;
	margin-left: 110px;
	margin-top: 8px;
}

.title-table {
	font-family: 'Roboto Condensed', Arial, 'Trebuchet MS', Verdana;	
	display: flex;
    padding: 7px; 
	width: 900px;
	height: 60px;
	margin-left: 110px;
	margin-top: 8px;
	margin-bottom: -10px;
}

.build-list:hover {
    background: rgb(49,137,0) !important;
}